<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/style.css') }}"> <!--Feuille de style CSS-->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"><!--BOOTSTRAP-->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><!--FONT AWESOME-->
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>

        <div class="container-fluid">
            {% block body %}

                <!--Barre de navigation-->
                <nav class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></span>
                            </button>
                            <a class="navbar-brand" href="#">Nos Amis les Oiseaux</a>
                        </div>

                        <div class="collapse navbar-collapse nav" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i>  Accueil<span class="sr-only">(current)</span></a></li>
                                <li><a href="#"><i class="fa fa-binoculars" aria-hidden="true"></i>  Observation</a></li>
                                <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>  Connexion/Inscription</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-hand-spock-o" aria-hidden="true"></i>  Bonjour [Prenom] <span class="badge">3</span> <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">Dashboard <span class="badge">2</span></a>
                                        </li>
                                        <li>
                                            <a href="#">Ajout d'observations <span class="badge">1</span></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <form class="navbar-form navbar-right">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Rechercher">
                                </div>
                                <button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                </nav>
            {% endblock %}

            {% block footer %}
                <footer>
                    <div class="col-md-12">
                        <div class="col-md-4 text-right" >
                            <h3>Nous suivre sur les réseaux sociaux :</h3>
                            <a href="#" class="socialLink">
                                <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="socialLink">
                                <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="socialLink">
                                <i class="fa fa-pinterest fa-3x" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="socialLink">
                                <i class="fa fa-google-plus fa-3x" aria-hidden="true"></i>
                            </a>
                        </div>

                        <div class="col-md-4 col-md-offset-4">
                            <h3>Les liens utiles :</h3>
                            <ul>
                                <li><a href="#">Nous contacter</a></li>
                                <li><a href="#">Les mentions légals</a></li>
                                <li><a href="#">Rejoindre l'association</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="text-center" id="copyright">© 2017 - Copyright Nos Amis les Oiseaux</div>
                </footer>
            {% endblock %}
            {% block javascripts %}
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><!--jQuery-->
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script><!--JS BOOTSTRAP-->
            {% endblock %}
        </div>
    </body>
</html>
