footer
{
  margin-top: 30px;
  .col-md-12 {
    color: white;
    background-color: $maingreen;
    padding: 50px 0;
    min-height: 200px;
    li {
      list-style: none;
      a {
        color: white;
      }
    }
  }
  #copyright
  {
    line-height: 50px;
    background-color: #29475f;
    color:white;
  }
}

.socialLink
{
  color:white;
}