@import 'vars';
@import 'navbar';
@import 'footer';
@import 'searchbar';

@import 'home';

@import '/searchspecies/searchform';
@import '/searchspecies/searchresult';
@import '/searchspecies/searchcard';
@import 'login';
@import '/admin/admin';
@import 'observation';

body {
  background-color: $almostwhite;
}
.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}