#suggestions-container {
  width: 500px;
  margin-left: calc(100%/2 - 250px);
  box-shadow: 5px 5px 2.5px transparentize(black, 0.5);
  position: relative;
  z-index: 9000;
  //border:1px solid red;
  padding-left: 0;
  .suggestion {
    background-color: white;
    //border:1px solid black;
    height: 30px;
    margin-left: 0 !important;
    list-style: none;
    padding-left: 5px;
    padding-top: 5px;
    color: black;
  }
  .selected {
    background-color: #97a0b3;
  }
}