{% extends 'base.html.twig' %}

{% block title %}
    Nous rejoindre
{% endblock %}

{% block body %}
    {{ parent() }}
    <img src="https://intranet.chaudiereappalaches.com/fichiersUploadOpt/1924-894-2cee62eacd768eed934b97957704a426a5a95641ca1a084a5/imagesInterieur/afficher-20140530171932-20140326094400-1008dc0372-01.jpg?" alt="birds">
    <div class="container">
        <h3>Notre Charte</h3>
        <p>
            En participant à ce projet, vous vous engagez à respecter les données qui vous seront
            accessibles et acceptez de saisir uniquement des observations réellement constatées dans
            le but d’alimenter un programme d’étude.
        </p>
        <p>
            Vous découvrez l’ornithologie ? Vous serez aidés dans la saisie de vos observations
            et nos naturalistes professionnels les valideront avant publication sur le site.
        </p>
        <p>
            Vous êtes naturaliste professionnel et souhaitez participer à la validation des
            observations ? Envoyez-nous un message sur la page "<a href="{{ path('contactUs') }}">Nous contacter</a>"
            avec votre CV et vos motivations.
        </p>
    </div>
{% endblock %}