{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>{{ species.scientificName }}</h1>




{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}