{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

    <div class="jumbotron">
        <h1>Bienvenue dans le projet NAO</h1>
        <p>Ceci est notre page d'accueil</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>

{% endblock %}