{% extends 'base.html.twig' %}

{% block nav %}
    {{ parent() }}
{% endblock %}

    {% block body %}

        {{ parent() }}

        <!--si connecté en tant qu'admin-->
        {% if is_granted("ROLE_ADMIN") %}

        <div class="container">
            <h1>Newsletter</h1>

            <p>
                Envoyer à :
                {% for newsletterValid in listNewsletterValid %}
                    <mark>{{ newsletterValid.email }}</mark>
                {% endfor %}
            </p>

            <form method="post">
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" id="message">
                    </textarea>
                </div>

                <button type="submit" class="btn btn-primary">Envoyer à tous les contacts</button>
            </form>
        </div>

        {% else %}
            <h1 class="danger">ERROR 404 : Page non trouvée</h1>
        {% endif %}

    {% endblock %}