body {
  //background-image: url('../images/motif_fond_1.png');
  position: relative;
  z-index: -99999999999999999;
}
#container-all {
  //min-height: 100vh;
  border: 1px solid pink;
}

#search-form {
  height: 150px;
  background-color: $brown;
  padding-top: 75px;
  margin-top: 30px;
  #search-group {
    //border: 2px solid pink;
    width: 500px;
    transform: translateY(-10px);
    margin-left: calc(100%/2 - 250px);
    input {
      width: 500px;
      &:focus {
        outline: none;
      }
    }
    #suggestions-container {
      width: 500px;
      margin-left: calc(100%/2 - 250px);
      box-shadow: 5px 5px 2.5px transparentize(black, 0.5);
      position: relative;
      z-index: 9000;
      //border:1px solid red;
      padding-left: 0;
      .suggestion {
        background-color: white;
        //border:1px solid black;
        height: 30px;
        margin-left: 0 !important;
        list-style: none;
        padding-left: 5px;
        padding-top: 5px;
      }
      .selected {
        background-color: #97a0b3;
      }
    }
  }
}